@import "nullstyle.scss";

$gray2:#242424;
$gray3:#474747;
$gray4:#6B6B6B;
$gray5:#8F8F8F;
$gray6:#B3B3B3;
$gray7:#D6D6D6;
$rederror:#B40000;
$orange:#D06400;
$dirtyyellow:#AD7F00;
$yellow:#FFC41E;
$background: #F6F6F6;


//миксины для назначения параметров шрифта
@mixin H3SemiBold {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #C78100;
}
@mixin Textmdnormal {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: $gray2;
}
@mixin H3light {
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: $gray2;
}
@mixin Textmdmedium {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $gray3;
}
@mixin H3medium28 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: $gray2;
}
@mixin H4medium {
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: $gray2;
}
@mixin Textsmmedium {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $gray4;
}
@mixin Textlnormal {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $gray2;
}
@mixin Textlmedium {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $gray4;
}

body {
    font-family: Gilroy;
    font-style: normal;
    background-color: $background;
    display: flex;
}



.form {
    @include Textmdnormal;
    margin: auto;
}
.form-body {
    display: flex;
    flex-direction: column;
    max-width: 525px;
    padding: 30px 40px;
    background-color: #fff;

    //&__header {
    //}

    &__close {
        display: flex;
        justify-content: end;
    }

    &__title {
        @include H3medium28;
        color: $gray6;
        padding-bottom: 12px;
        border-bottom: 2px solid #EEBF3A;
    }

    &__title2 {
        padding-top: 16px;
        @include H4medium;
        color: $gray2;
    }

    &__subtitle {
        padding-top: 16px;
        color: $gray4;
    }

    &__formplace {
        padding-top: 32px;
    }

    &__formplace p {
        @include Textsmmedium;
        padding-bottom: 2px;
    }

    &__formplace textarea,input:hover {
        border-color: $yellow;
    }

}

.formplace {
    //&__namecontainer {
    //}

        &__phonecontainer {
            padding-top: 16px;
        }

		&__phonelabel {
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: $gray6;
		}

            &__radiocontainer {
                padding-top: 19px;
                color: $gray4;
            }
    
            &__radiocontainer input {
                margin-right: 10px;
            }

            //&__radio {
            //}
    
        &__infocontainer {
            padding-top: 22px;
        }

		&__input {
            @include Textmdnormal;
            border: 1px solid $gray7;
            min-width: 445px;
            padding: 9px 16px;
            border-radius: 2px;
		}

		&__contactus {
            margin: 24px 0 32px;
            color: $gray3;
		}

		&__submit {
            font-weight: 500;
            font-size: 20px;
            line-height: 40px;
            padding: 0 32px;
            background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
            box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
            border-radius: 58px;
        }
        
        &__submit:hover {
            background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
            box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
        }

        &__submit:active {
            background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
            box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
		}

		&__reset {
            float: right;
            font-weight: 500;
            font-size: 20px;
            line-height: 40px;
            padding: 0 32px;
            background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
            box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
            border-radius: 58px;
        }

        &__reset:hover {
            background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
        }

        &__reset:active {
            background: linear-gradient(180deg, #F1F1F1 1.56%, #FCFAFA 100%);
            box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
		}
        
        &__autohelp-buttons {
            padding-top: 32px;
        }
}

.form-takeonsometime-text {
    padding-bottom: 20px;
    //&__p1 {
    //}

    //&__p2 {
    //}
}