@import "nullstyle.scss";

//введение сокращений для часто используемых цветов
$gray2:#242424;
$gray3:#474747;
$gray4:#6B6B6B;
$gray5:#8F8F8F;
$gray6:#B3B3B3;
$gray7:#D6D6D6;
$rederror:#B40000;
$orange:#D06400;
$dirtyyellow:#AD7F00;
$yellow:#FFC41E;
$background: #F6F6F6;


//миксины для назначения параметров шрифта
@mixin H3SemiBold {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #C78100;
}
@mixin Textmdnormal {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: $gray2;
}
@mixin H3light {
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: $gray2;
}
@mixin Textmdmedium {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $gray3;
}
@mixin H3medium28 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: $gray2;
}
@mixin H4medium {
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: $gray2;
}
@mixin Textsmmedium {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $gray4;
}
@mixin Textlnormal {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $gray2;
}
@mixin Textlmedium {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $gray4;
}



// параметр для всех заголовков третьего порядка
h3 {
    @include H3medium28;
}


//работа с контентом сайта
.pagebody {
    margin: auto;
    max-width: 1366px;
    font-family: Gilroy;
    font-style: normal;
    background-color: #E5E5E5;
}

// 1 секция сайта спаси жизнь
.savelife {
position: relative;

		&__image {
            position: absolute;
            margin: -370px 0 0 44%;
		}

		&__body {
            background-color: $background;
            background-image: url(../../img/dog1.png);
            background-repeat: no-repeat;
            background-position: top right 110px;
        }

            &__body-background {
                background-image: url(../../img/ibebestfriend.png);
                background-repeat: no-repeat;
                background-position-y: 82%;
            }

		&__header {
            margin: 0 8% 0;
            max-width: 1366px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
		}

		&__menu {
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
            flex-wrap: wrap;

		}

		&__linksgroup1 {
            padding-top: 54px;
        }

        &__linksgroup1 a+a {
            padding-left: 32px;
        }

        &__linksgroup1 a:hover {
            color: black;
            font-weight: bold;
            text-decoration: underline;
        }

        &__linksgroup1 a:active {
            color: $gray4;
            font-weight: bold;
            text-decoration: underline;
        }

		&__a {
            text-decoration: none;
            color: $gray2;
		}

		&__linksgroup2 {
            padding-right: 100px;
            padding-top: 54px;
        }
        
        &__linksgroup2 a+a {
            padding-left: 32px;
        }

        &__linksgroup2 a:hover {
            color: black;
            font-weight: bold;
            text-decoration: underline;
        }

        &__linksgroup1 a:active {
            color: $gray4;
            font-weight: bold;
            text-decoration: underline;
        }

		&__socialicons {
            display: flex;
            padding-top: 41px;
            padding-right: 97px;
        }

        &__socialicons div {
            border: 2px solid #fff;
            background: linear-gradient(144.1deg, #FFE193 12.45%, #FFC93F 89.31%);
            box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #FFDB7E, inset 13px 22px 8px #F1C74F;
        }

        &__socialicons div:hover {
            background: linear-gradient(150.26deg, #FFEAAD 6.75%, #FCE6A7 45.73%, #FFC726 91.17%);
            box-shadow: 3px 3px 13px #C18F00;
        }

        &__socialicons div:active {
            background: linear-gradient(150.26deg, #FFDA71 6.75%, #FFCD40 43.24%, #FBC11B 91.17%);
            box-shadow: 2px 2px 6px #C18F00, inset 3px 3px 10px rgba(199, 129, 0, 0.59);
        }

		&__text-area {
            margin: 91px 0 0 8%;
		}

		&__button1 {
            margin: 44px 0 0 102px;
            padding-bottom: 272px;
        }
    }
//общие параметры для иконок вк и инстаграм
.socialicons {

		&__vk {
            display: flex;
            min-width: 49px;
            min-height: 49px;
            border-radius: 50%;
        }
        
        &__vk a {
            margin: auto;
        }

		&__instagram {
            margin-left: 28px;
            display: flex;
            min-width: 49px;
            min-height: 49px;
            border-radius: 50%;
        }

        &__instagram a {
            margin: auto;
        }
}

.text-area {

		&__title {
            font-weight: bold;
            font-size: 72px;
            line-height: 87px;
            color: $gray2;
		}

		&__subtitle {
            padding-top: 2px;
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
            color: $gray4;
		}

		&__text1 {
            padding-top: 12px;
            max-width: 594px;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: $gray3;
		}

		&__text2 {
            padding-top: 43px;
            max-width: 415px;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #C78100;
		}
}
//общие параметры для стиля кнопки (образец 1)
.button1 {
    padding: 5px 33px 5px 32px;
    border-radius: 58px;
    background-color: #FBC832;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);

        a {
            color: black;
        }

}

.button1:hover {
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}

.button1:active {
    background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}

//2 секция Тут большие добрые сердца помогают жить маленьким сердечкам
.kind-hearts {

    &__body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid white;
        background-color: white;
    }

		&__image {
            display: flex;
            padding: 54px 0 75px;
		}

    &__text-area {
        padding: 0 20px 20px 65px;
        max-width: 466px+65px+20px;
        @include Textmdnormal;
    }

    &__title {
        @include H3SemiBold;
        text-align: center;
    }

    &__text1 {
        padding-top: 28px;
    }

    &__text2 {
        padding-top: 20px;
    }
}

//3 секция как помочь
.howhelp {
    background-color: $background;
    display: flex;
    align-items: center;
}

.how-help {
    margin: auto;

    &__title {
        padding-top: 80px;
        font-weight: 300;
        @include H3light;
        text-align: center;
    }

    &__row {
        display: flex;
        justify-content: center;
        padding-top: 47px;
        flex-wrap: wrap;
    }

    &__column {
        padding: 47px;
    }

    //&__image-text {
    //}

		&__image {
            display: flex;
            min-width: 150px;
            min-height: 150px;
            border-radius: 50%;
            background: #F6F6F6;
            border: 1px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
        }
        
        &__image:hover {
            background: #FAFAFA;
            box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
        }
        
        &__image:active {
            background: linear-gradient(147.91deg, #F1F0F0 17.56%, #EEEEEE 52.29%, #F1F1F1 84.92%);
            border: 1px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            box-shadow: -6px -6px 16px rgba(224, 224, 224, 0.6), 6px 6px 16px rgba(255, 255, 255, 0.77);
		}

        &__image img {
            transform: scale(0.6);
            margin: auto;
        }

    &__text {
        padding-top: 24px;
        margin-bottom: 83px;
        max-width: 150px;
        @include Textmdmedium;
        text-align: center;
    }
}
//общий стиль для разделителей между разделами (слева и справа длинные желтые линии)
.separator {

    &__body {
        display: flex;
        justify-content: center;
    }

    &__left-line {
        height: 50px;
        width: 100%;
        border-bottom: 2px solid #eebf3a;
    }

    &__image {
        display: flex;
        align-items: center;
        padding: 0 30px;
    }

    &__right-line {
        height: 50px;
        width: 100%;
        border-bottom: 2px solid #eebf3a;
    }
}
//4 секция дом и любовь для хвостика 
.home-and-love {
    background-color: $background;
}
.homeandlove {

		&__textarea-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @include Textmdnormal;
            
        }
    }

    .textarea-container {

		&__textarea-1 {
            max-width: 389px+48px*2;
            min-width: 189px+48px*2;
            padding: 0 48px 0;
		}

		&__title1 {
            padding-top: 68px;
		}

		&__text1 {
            padding-top: 20px;
		}

		&__textarea-2 {
            max-width: 389px+48px*2;
            min-width: 189px+48px*2;
            padding: 0 48px 0;
		}

		&__title2 {
            padding-top: 68px;
		}

		&__text2 {
            padding-top: 20px;
		}
}

// 4 секция раздел наши подопечные
.our-wards {
    background-color: $background;
    padding-top: 72px;

}
.ourwards {

		&__text-area {
            @include H3light;
            text-align: center;
		}
}
//галлерея 4 секции
.gallery {

            &__row {
                margin: 0 6.5%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
    
            &__column {
                background-color: #fff;
                margin: 32px 10px 0 10px;
                max-width: 368px;
            }
    
            &__column-body {
                max-height: 555px;
                padding: 16px;
            }
    
            &__image {
                max-width: 335px;
                max-height: 356px;
            }
    
            &__title {
                padding: 8px 0 10px 0;
                border-bottom: 1px solid $gray7;
                @include H4medium;
                text-align: center;
            }
    
            &__subtitle {
                padding-top: 8px;
                @include Textsmmedium;
            }
    
            &__text {
                min-height: 95px;
                margin-top: 6px;
                @include Textsmmedium;
                color: $gray2;
            }

            &__button1 {
                margin: 35px 0 0 80px;
            }
    
            &__button1-text {
                color: $gray2;
            }
    
            &__button2 {
                margin: 17px 0 20px 36px;
            }
    
            &__button2-text {
                color: $gray2;
            }
    
            &__link {
                margin-top: 20px;
            }

            &__linkgallery {
                display: flex;
                justify-content: center;
                font-weight: 500;
                font-size: 20px;
                line-height: 40px;
                text-decoration-line: underline;
                color: $gray3;
            }

            &__linkgallery:hover {
                text-decoration-line: underline;
                color: $dirtyyellow;
            }

            &__linkgallery:active {
                text-decoration-line: underline;
                color: $gray3;
            }
    
            &__footer {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-bottom: 76px;
            }
    
            &__socialicons {
                display: flex;
                padding: 65px 38px 0;
            }

            &__socialicons div {
                background: linear-gradient(145.67deg, #FFFFFF 15.39%, #E4E4E4 88.3%);
                box-shadow: 3px 3px 13px #B1B1B1;
            }

            &__socialicons div:hover {
                background: linear-gradient(145.67deg, #FFFFFF 15.39%, #FAFAFA 54.13%, #DADADA 88.3%);
                box-shadow: 3px 3px 13px #A3A3A3;
            }
    
            &__socialicons div:active {
                background: linear-gradient(145.67deg, #E4E4E4 16.92%, #F6F6F6 88.3%);
                box-shadow: 3px 3px 13px #B2B2B2, inset 4px 4px 7px rgba(192, 192, 192, 0.25);
            }
    
            &__socialicons-text {
                max-width: 583px;
                padding-top: 65px;
                @include Textlnormal;
            }

    }
//общий стиль для 2 типа кнопки
    .button2 {
        padding: 5px 33px 5px 32px;
        background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
        box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
        border-radius: 58px;
        background-color: #ffffff00;
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
    }

    .button2:hover {
        background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
    }

    .button2:active {
        background: linear-gradient(180deg, #F1F1F1 1.56%, #FCFAFA 100%);
        box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
    }
//5 секция финансовая поддержка
    .money-help {
        background-color: #fff;
        padding: 46px 0px 56px;
    }
    .moneyhelp {
    
            &__title {
                margin: 58px auto 0;
                max-width: 758px;
                text-align: center;
                @include Textlmedium;
            }
            
            &__title h3 {
                margin-bottom: 24px;
            }

            &__containers {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0 20px;
                @include Textmdnormal;
            }

            &__containers h4 {
                @include H3light;
                padding-bottom: 24px;
            }
    }

.containers {

    &__container1 {
        padding-top: 40px+25px;
        margin: auto;
        max-width: 389px;
    }

    &__button1 {
        padding-top: 24px;
    }

    &__button1-text {
        color: black;
    }

    &__container2 {
        padding-top: 40px;
        margin: auto;
        max-width: 389px;
    }
}
//6 секция корма лекарства и другие нужные вещи
.things {
    padding-top: 49px;
    background-color: $background;

    &__somethings {
        padding-top: 53px;
        @include Textmdnormal;
    }
}

.somethings {
display: flex;
flex-direction: column;
align-items: center;
padding: 0 20px;

    &__foods {
        max-width: 660px;
    }

    &__medicines {
        max-width: 660px;
        padding-top: 40px;
    }

    &__other {
        max-width: 660px;
        padding-top: 40px;
    }

    &__link {
        max-width: 660px;
        padding-top: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
    }

    &__link a {
        color: $gray3;
        text-decoration: underline;
    }

    &__link a:hover {
        text-decoration-line: underline;
        color: $dirtyyellow;
    }

    &__link a:active {
        text-decoration-line: underline;
        color: $gray3;
    }
}

//7 секция автопомощь
.autohelp {
    padding-top: 78px;
    background-color: $background;
    &__auto-help {
        padding: 45px 20px 0;
    }
}

.auto-help {

    &__block {
        max-width: 680px;
        margin: 0 auto;
        @include Textmdnormal;
    }

    &__block h3 {
        margin-bottom: 24px;
    }

    &__button {
        margin-top: 24px;
        padding-bottom: 82px;
    }

    &__button-text {
        color: black;
    }
}
//8 секция волонтерство
.volountering {
    background-color: $background;
    &__block {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        padding: 10px 0;
        min-height: 580px;
    }

    &__text {
        margin: auto;
        max-width: 466px+20px+20px;
        padding: 0 20px 0 20px;
        @include Textmdnormal;
    }

    &__text h3 {
        padding: 20px 0 24px 0;
    }

    &__button {
        padding: 24px 0 20px;
    }

    &__button-text {
        color: black;
    }
}
//9 секция новости
.news {
    background-color: #fff;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 54px 20px;
        //text-align: center;
        //padding: 54px 0 53px 0;
    }

    &__block1 {
        //margin: 40px 0 0 22%;
        //text-align: left;
        display: flex;
        justify-content: center;
        padding: 10px 0 40px;

    }

    &__block2 {
        //margin: 40px 0 0 22%;
        //text-align: left;
        display: flex;
        justify-content: center;
        padding: 10px 0 40px;
    }

    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
        color: $gray3;
        text-decoration: underline;
    }

    &__link:hover {
        text-decoration-line: underline;
        color: $dirtyyellow;
    }

    &__link:active {
        text-decoration-line: underline;
        color: $gray3;
    }
}
.block1 {

    //&__image {
    //}

    &__text {
        margin: auto;
        margin-left: 35px;
        max-width: 603px;
    }
}
.block2 {

    //&__image {
    //}

    &__text {
        margin: auto;
        margin-left: 35px;
        max-width: 603px;
    }
}
//10 секция о нас
.aboutuscontacts {
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        padding: 56px 20px 24px;
        max-width: 680px;
    }
    
    &__container h3 {
        text-align: center;
        padding-bottom: 24px;
    }

    //&__textblock {
    //}

    &__textblock p {
        @include Textlmedium;
        color: $gray2;
    }

    &__textblock h4 {
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        padding-top: 24px;
    }

    &__textblock ul {
        padding-top: 24px;
    }

    &__socialicons-text {
        @include Textmdnormal;
        padding-top: 40px;
        color: $gray4;
    }

    &__socialicons {
        display: flex;
        padding: 16px 0 54px;
    }

    &__socialicons div {
        background: linear-gradient(145.67deg, #FFFFFF 15.39%, #E4E4E4 88.3%);
        box-shadow: 3px 3px 13px #B1B1B1;
    }

    &__socialicons div:hover {
        background: linear-gradient(145.67deg, #FFFFFF 15.39%, #FAFAFA 54.13%, #DADADA 88.3%);
        box-shadow: 3px 3px 13px #A3A3A3;
    }

    &__socialicons div:active {
        background: linear-gradient(145.67deg, #E4E4E4 16.92%, #F6F6F6 88.3%);
        box-shadow: 3px 3px 13px #B2B2B2, inset 4px 4px 7px rgba(192, 192, 192, 0.25);
    }
}
//11 сеция спасибо за помощь
.thnx4help {

    &__block {
        display: flex;
        align-items: center;
        background-image: url(/img/thnx4helpimage.jpg);
        background-repeat: no-repeat;
        min-height: 741px;
    }

    &__textblock {
        display: flex;
        padding: 14% 5% 14% 10%;
        font-weight: bold;
        font-size: 64px;
        line-height: 77px;
        color: #fff;
        background-color: rgba($color: rgb(58, 25, 2), $alpha: 0.8);
        border-radius: 0 50% 50% 0;
        mix-blend-mode: soft-light;
    }

    &__image {
        display: flex;
        align-items: end;
        padding-left: 20px;
    }
}
//12 секция футер сайта
.mainfooter {
    background-color: $background;
}

.mainfooter a {
    color: $gray3;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
}

.mainfooter a:hover {
    color: $dirtyyellow;
}

.mainfooter a:active {
    color: $gray3;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;

    //&__linksgroup1 {
    //}

    &__links {
        padding: 0 20px;
    }

    &__linksgroup2 {
        padding-left: 102px;
    }
}

.sertificate {
    padding-top: 24px;
    padding-bottom: 16px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: $gray6;
}

@media (max-width: 630px) {

    .savelife {

                    &__body-background {
    background-size: 217px;
                    }
                }
    .text-area {

		&__title {
            font-size: 30px;
            line-height: 36px;
		}

		&__subtitle {
            font-size: 12px;
            line-height: 14px;
		}

		&__text1 {
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
		}

		&__text2 {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
		}
}
}