@font-face{

font-family: 'Roboto Mono';

src: url('\VS progect\save_life\RobotoMono-VariableFont_wght)

src: url('../fonts/WebFont.eot?iefix') format('eot'),

url('../fonts/WebFont.woff') format('woff'),

url('../fonts/WebFont.ttf') format('truetype'),

url('../fonts/WebFont.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}
roboto-mono normal (как ссылка)
<!-<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">->
<!-как @-<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
</style>-->